<div>
  <h2>Register</h2>
  <form (ngSubmit)="onRegister()">
    <div>
      <label for="register-username">Username</label>
      <input id="register-username" type="text" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <label for="register-password">Password</label>
      <input id="register-password" type="password" [(ngModel)]="password" name="password" required>
    </div>
    <div>
      <label for="register-confirm-password">Confirm Password</label>
      <input id="register-confirm-password" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </div>
    <button id="register-submit-btn" type="submit">Register</button>
  </form>
</div>
